<div class="container-fluid">
  <img src="/assets/fundo.jpg">
  <nav class="navbar navbar-expand-lg navbar-light">

      <a class="navbar-brand" id="logo" routerLink="" routerLinkActive="active"><strong>UNIESPFLIX</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="collapse navbar-collapse justify-content-end">
          <ul>
              <a class="btn mt-2" id="botao" style="background-color: red; font-weight: bold;" href="" role="button">Entrar</a>
          </ul>
        </div>
      </div>

  </nav>

  <blockquote class="blockquote text-center">
    <div class="container">
      <h1>Filmes, séries e muito mais. Sem limites.</h1>
      <h2>Assista onde quiser. Cancele quando quiser.</h2>
      <h4>Pronto para assistir? Informe seu email para criar ou reiniciar sua assinatura.</h4>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">Vamos lá ></span>
      </div>
    </div>
  </blockquote>

</div>


