<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
  <div class="container-fluid">
    <a class="navbar-brand" id="logo" routerLink="inicio" routerLinkActive="active"><strong>U N I E S P F L I
        X</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-5 mb-lg-0 me-5">
        <li class="nav-item">
          <a class="nav-link" id="links" routerLink="#" routerLinkActive="active">Planos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="links" routerLink="#" routerLinkActive="active">Filmes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="links" routerLink="#" routerLinkActive="active">Séries</a>
        </li>
        <li id="links" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Gêneros
          </a>
          <ul class="dropdown-menu" id="generos" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Ação</a></li>
            <li><a class="dropdown-item" href="#">Aventura</a></li>
          </ul>
        </li>
      </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Títulos e gêneros" aria-label="Search">
        <button class="btn btn-secondary" type="submit">Buscar</button>
      </form>
      
      <div class="collapse navbar-collapse justify-content-end">
        <ul>
         <a class="btn mt-2" style="background-color: red; font-weight: bold;" href="#" role="button">Entrar</a>
        </ul>
      </div>

    </div>
  </div>

</nav>
